*.pyc
salidas
importador/*.pyc
PruebasEstadisticas/*.pyc
Distribuciones/*.pyc
cuadernos/*.ipynb_checkpoints
cuadernos/*.virtual_documents
.virtual_documents
Distribuciones/_pycache_
importador/_pycache_
PruebasEstadisticas/_pycache_
